.cabecera {
	position: sticky;
	top: 0px;
}

.cabecera img {
	padding: 20px;
}

nav {
	position: relative;
}

.menu {
	font-size: 2rem;
	list-style: none;
}

.menu li {
	display: inline-block;
	width: 100px;
	position: relative;
	font-size: 2rem;
}
.background_image {
	background-image: url("/assets/images/image1.jpg");
	height: 100vh;
}
.carousel-item {
object-fit: cover;
max-height: fit-content;
}